//Поключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=PT+Mono&family=PT+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  padding: 0;
  margin: 0;
  }

a {
  text-decoration: none;
}

.main_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eff1f2;
  &_image {
    text-align: center;
      img {
        width: 340px;
        height: 340px;
        border-radius: 150px;
        margin: 30px 0 30px 0;

        @media (max-width: 500px) {
          width: 240px;
          height: 240px;
          margin: 15px 0 15px 0;
        }
      }
    }
      &_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        color: #000000;
        text-align: center;
        padding-bottom: 10px;
      }

    &_subtitle {
      opacity: 0.7;
      font-family: 'Nanum Pen Script', cursive;
      font-size: 20px;
      color: #000000;
      text-align: center;
      line-height: 20px;
      padding-bottom: 20px;
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }
       button{
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      width: 280px;
      height: 52px;
      background: #0059D9;
      border-radius: 4px;
      text-align: center;
      color: #FFFFFF;
      font-size: 20px;
      margin-bottom: 70px;
      font-family: 'Montserrat', sans-serif;
      align-self: center;
      box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
      border: #FFFFFF 1px;
      transition-property: background-color, font-size;
      transition-duration: 0.5s, 0.5s;
      @media (max-width: 500px) {
        font-size: 15px;
        width: 180px;
        height: 42px;
      }
      &:hover {
        background-color: black;
        color: white;
        font-size: 22px;
        transition-property: background-color, font-size, color;
        transition-duration: 0.5s, 0.5s, 0.5s;
      }
    }
}
.expectations_from_internship {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  padding-top: 10px;
  box-sizing: border-box;
  @media (max-width: 750px) {
    padding-top: 15px;
    height: 100%;
  }
  &_subtitle h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    @media (max-width: 750px) {
      font-size: 25px;
    }
  }
  &_points {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      h2 {
        font-size: 18px;
        color: #000000;
        line-height: 24px;
        font-family: 'Montserrat', sans-serif;
        &:hover {
          color: #0059D9;
        }
          @media (max-width: 750px) {
            font-size: 16px;
          }

      }
      p {
        font-family: 'Nanum Pen Script', cursive;
        font-size: 14px;
        color: #000000;
        line-height: 20px;
        opacity: 0.7;
      }

    }
  .container {
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       margin: 50px 100px;
       box-sizing: border-box;
       @media (max-width: 970px) {
         margin: 50px 70px;
       }
       @media (max-width: 750px) {
         margin: 40px 40px;
         height: 100%;
       }
     }
  }
.portfolio {
  width: 100%;
  height: auto;
  background-color: #25282A;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
  left: 50%;
  top: 50%;
  @media (max-width: 970px) {
    padding-top: 30px;
  }
  @media (max-width: 750px) {
    padding-top: 20px;
    height: auto;
  }
    &_title {
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      color: white;
      text-align: center;
      padding: 20px 0;
      @media (max-width: 970px) {
        padding: 10px 0;
      }
    }
    &_subtitle {
      font-family: "Nanum Pen Script", cursive;
      font-size: 14px;
      margin-bottom: 20px;
      color: #FFFFFF;
      @media (max-width: 970px) {
        margin-bottom: 30px;
        font-size: 12px;
      }
      @media (max-width: 500px) {
        margin-bottom: 15px;
        font-size: 10px;
      }
    }
    &_cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      @media (max-width: 750px) {
        margin: 0 10px;
      }
      @media (max-width: 500px) {
        margin: 0 20px;
      }

      &_card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 20px;
        h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          color: #FFFFFF;
        }

        p {
          color: white;
          font-family: "Nanum Pen Script", cursive;
          font-size: 14px;
          margin: 20px;
          text-align: left;
        }

        .link {
          padding: 10px 0;

          a {
            padding: 10px 0;
            color: #71ABFF;
            font-family: "Nanum Pen Script", cursive;
            line-height: 20px;
            font-size: 20px;
          }
        }
      }
    }
    img {
      max-width: 700px;
      height: 377px;
      @media (max-width: 970px) {
        width: 550px;
        height: 300px;
      }
      @media (max-width: 750px) {
        width: 450px;
        height: 250px;
      }
      @media (max-width: 500px) {
        width: 350px;
        height: 180px;
      }
      @media (max-width: 400px) {
        width: 280px;
        height: 150px;
      }
    }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #EFF1F2;
  @media (max-width: 750px) {
    flex-wrap: wrap;
    padding: 20px 20px;
  }
  &_title {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 0 30px 0;
    @media (max-width: 750px) {
      font-size: 28px;
      margin: 40px 0 20px 0;
    }
  }

  &_text {
    font-family: "Nanum Pen Script", cursive;
    font-size: 14px;
    color: #000000;
    text-align: center;
    line-height: 20px;
    margin: 15px 0;
  }
  &_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 750px) {
      display: block;
    }
    &_row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "Nanum Pen Script", cursive;
      @media (max-width: 750px) {
      flex-wrap: wrap;
    }
      input {
        width: 320px;
        height: 30px;
        resize: none;
        text-align: left;
        font-family: "Nanum Pen Script", cursive;
        font-size: 16px;
        color: #000000;
        padding-left: 10px;
        padding-top: 5px;
        @media (max-width: 750px) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
    #message {
      width: 100%;
      height: 136px;
      resize: none;
      margin: 20px -5px;
      font-family: "Nanum Pen Script", cursive;
      font-size: 16px;
      color: #000000;
      box-sizing: border-box;
      padding-left: 10px;
      padding-top: 10px;
      @media (max-width: 750px) {
        margin-top: 10px;
        padding-top: 10px;
      }
    }
     .attach {
       width: 100%;
       height: 36px;
       margin-bottom: 10px;
       font-family: 'PT Mono', monospace;
       font-size: 16px;
       color: #0059D9;
       line-height: 20px;
       background: rgba(255,255,255,0.00);
       border: 1px solid rgba(31,64,111,0.20);
       border-radius: 4px;
     }
    .btn {
      width: 100%;
      height: 52px;
      background-color: #0059D9;
      color: #FFFFFF;
      margin-bottom: 40px;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      border-radius: 4px;
    }
  }
}
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(37, 40, 42, 0.6);
    visibility: hidden;

    &__dialog {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: black;
        background: rgba(239, 241, 242, 1);
        box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
        border: solid 1px #FFFFFF;
        max-width: 400px;
        padding: 30px;
        position: relative;
        .close {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 18px;
          cursor: pointer;
        }
        .modal__title {
          align-self: center;
          text-align: center;
          font-size: 20px;
          color: #25282A;
          margin: 5px;
          font-weight: bold;
        }

        .modal__input {
          width: 100%;
          height: 20px;
          padding: 5px;
          margin: 10px;
        }

        .btn {
          align-items: center;
          font-family: 'Montserrat', sans-serif;
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          width: 150px;
          height: 35px;
          background: #0059D9;
          border-radius: 4px;
          text-align: center;
          color: #FFFFFF;
          font-size: 12px;
          border: #FFFFFF 1px;
          transition-property: background-color, font-size;
          transition-duration: 0.5s, 0.5s;

          &:hover {
            background-color: black;
            color: white;
            font-size: 13px;
            transition-property: background-color, font-size, color;
            transition-duration: 0.5s, 0.5s, 0.5s;
          }
        }
      }
    }
  }












